body {
  margin-top: 96px; }

.navbar {
  box-shadow: 2px 2px 5px #c9302c;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }

#showcase {
  position: relative;
  background-image: url("../img/city2.jpeg");
  min-height: 557px; }
  #showcase .primary-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 557px;
    background-color: rgba(5, 18, 18, 0.8); }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

#team img {
  margin-top: -50px; }

#team .fa {
  font-size: 25px; }

#team .card:hover {
  background: #e80e0e8f;
  color: #fff; }
  #team .card:hover .fa {
    color: #fff; }

#main-footer {
  height: 150px; }
  #main-footer a {
    color: #fff; }

@media (max-width: 576px) {
  nav .container {
    width: 100%; } }
